@model List<SampleAdo.NETProject.Models.Product>

@{
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" >

<h2>Product List </h2>
<a href="/Home/Create">New Product</a>
<table id="productsTable" class="display" >
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
                <td>
                    @* <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.ProductID">Update</a> *@
                    <a href="/Home/Edit/@item.ProductID">Update</a>
                </td>
                <td>
                    <a href="/Home/Delete/@item.ProductID">Delete</a>
                </td>           
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#productsTable').DataTable();
    });
</script>